* {
  margin: 0;
  padding: 0;
}

.calculator {
  display: grid;
  width: 600px;
  margin: 100px auto;
  border: 1px solid #555;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.calculator {
  width: 600px;
  margin: 100px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.calculator > div {
  text-align: center;
  background-color: #F2F2F2;
  border: 1px solid #999;
  line-height: 50px;
  cursor: pointer;
}

.calculator .result {
  grid-column: 1 / 5;
  background-color: #333;
  color: white;
}

.calculator .zero {
  grid-column: 1 / 3;
}
